@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Oswald:wght@200&family=Cormorant+Garamond:ital,wght@1,400;1,700&family=Fira+Sans:wght@100;400&display=swap");
header, main, footer {
  display: -ms-grid;
  display: none;
  opacity: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background: #282828;
}

nav{
  margin-top: 2%;
}

.navBar{
  display: flex;
  flex-direction: row;
}

.firstThree div {
  display: flex;
  position:relative;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: whitesmoke;

  flex-direction: row;
  margin-left: 16px;
}

.firstThree div button{
  position:relative;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: whitesmoke;
}

.firstThree div button:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: red;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.firstThree div button:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.homeButton{
  margin-left:2.3rem;
}

.searchEngine{
  margin-top: -7px;
  margin-left: 16px;
}

.searchbutton {
  display: inline-block;
  margin: 10px 2px;
  font-size: 14px;
  padding-left: 32px;
  padding-right: 32px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: white;
  text-decoration: none;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.search-container {
  position: relative;
  display: inline-block;
  margin: 4px 2px;
  height: 20px;
  width: 20px;
  vertical-align: bottom;
}

.mglass {
  display: inline-block;
  pointer-events: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}

.searchbutton {
  position: absolute;
  font-size: 20px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.search:focus + .searchbutton {
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  background-color: white;
  color: black;
}

.search {
  position: absolute;
  left: 20px; 
  background-color: white;
  outline: none;
  border: none;
  padding: 0;
  width: 0;
  height: 100%;
  z-index: 10;
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
}

.search:focus {
  width: 150px; 
  padding: 0 16px 0 0;
}

.expandright {
  left: auto;
  right: 49px; 
}

.expandright:focus {
  padding: 0 0 0 16px;
}

#profileDetails{
    margin-bottom: 100px;
    margin-top:1%;
    margin-bottom: 5%;
    display: flex;
    flex-direction:row;
    color: whitesmoke;
  
  }
  #profilePicNameLike{
    display: flex;
    flex-direction: row;
    margin-left: 20%;
  }

  #profileInfo{
    margin-left:3%;
    margin-right:20%;
    margin-top: 0px;
    margin-bottom: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; 
            line-clamp: 2; 
    -webkit-box-orient: vertical;
   }
  
   #profilePicture img{
    width: 75px;
    height: 75px;
    border-radius: 100%;
  }
  #profileColumn{
    display: table-cell;
    vertical-align:auto;
  }
  
  #profileName{
    margin-left:5%;
   margin-top: 20px;
   width: 150px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
  }
   #profileLiked img{
     margin-top: 20px;
     width: 20px;
     height: 20px;
     border-radius: 100%;
   }
  
  .navButton {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  cursor: pointer;
  padding:4px;
  }
  
  .button {
    border-bottom: solid #1a1a1a 3px;
    border-top: solid #1a1a1a 3px;
    display: inline-block;
    padding: 0px;
    width: 15%;
    position: relative;
    text-align: center;
  }

  input[type="radio"].toggle {
    display: none;
  }
  input[type="radio"].toggle + label {
    cursor: pointer;
    min-width: 60px;
    color: red;
  
  }
  input[type="radio"].toggle + label:hover {
    background: none;
    color: red;
   
  }
  
  input[type="radio"].toggle + label:after {
    background: #1a1a1a;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    transition: left  200ms cubic-bezier(0.175, 1, 0.175, 1);
    width: 100%;
    z-index: -1;
  }

  input[type="radio"].toggle.toggle-left + label {
    border-right: 0;
  
  }
  input[type="radio"].toggle.toggle-left + label:after {
    left: 100%; 

  }
  input[type="radio"].toggle.toggle-right + label {
    margin-left: -4px;
  }
  input[type="radio"].toggle.toggle-right + label:after {
    left: -100%;
  }
  input[type="radio"].toggle:checked + label {
    cursor: default;
    color: #fff;
    transition: color 200ms;
  }
  input[type="radio"].toggle:checked + label:after {
    left: 0;
  }
  
  .toggleSwitch{
    margin-top: 0%;
    margin-bottom: 5%;
    text-align: center;
  }
footer {
  height: 20vh;
}

#preloader {
  height: 100vh;
  width: 100%;
  background: #1F1F1F;
  display: grid;
  -ms-grid-columns: 1fr 3fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 3fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

#rectangle {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 70vh;
  position: relative;
}

#rectangle #left, #right, #top, #bottom {
  position: absolute;
  width: 0px;
  height: 0px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  border: 1px solid #CEA65B;
}

#rectangle #left {
  height: 70vh;
  bottom: 0;
}

#rectangle #right {
  right: 0;
  height: 70vh;
}

#rectangle #top {
  width: 75.18vw;
}

#rectangle #bottom {
  right: 0;
  bottom: 0;
  width: 75.18vw;
}

#rectangle h1 {
  font-family: 'Oswald', sans-serif;
  color: #CEA65B;
  font-size: 7vh;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  position: absolute;
  -ms-grid-column-align: center;
      justify-self: center;
  top: 40%;
  z-index: 2;
  display: block;
  overflow: hidden;
  line-height: 10vh;
}

#rectangle h1 span {
  position: relative;
  top: 8vh;
  opacity: 0;
}

#preloader h2 {
  font-family: 'Ephesis', cursive;
  color: #CEA65B;
  font-size: 3.5vh;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 9vh;
  position: absolute;
  z-index: 2;
}

#artworkName, #artist {
  display: block;
  overflow: hidden;
  line-height: 2.8vh;
  bottom: 6vh;
  opacity: 0.9;
}

#artworkName span, #artist span {
  position: relative;
  top: 8vh;
  opacity: 0;
}

#artworkName {
  left: 30vw;
}

#artist {
  right: 30vw;
}

#leftHand, #rightHand {
  position: absolute;
  width: 10vw;
  height: 10vh;
  z-index: 2;
}

#leftHand {
  top: 30vh;
  left: 27vw;
  opacity: 0;
}

#rightHand {
  top: 31vh;
  left: 36.7vw;
  opacity: 0;
}

.particle {
  position: absolute;
  background-color: #AD6E52;
  top: 0;
  left: 0;
  border-radius: 50%;
  z-index: 1;
}

header {
  height: 10vh;
}

.layoutSettings {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  gap: 1vh;
  margin: 1vh 3vw 0 3vw;
  border: none;
}

.patternI {
  grid-template-areas: 'A1 A1 A2 A2 A4 A6'
                       'A1 A1  A3 A3 A5 A6';
} 

.patternII {
  grid-template-areas: 'B1 B2 B4 B4 B6 B6'
                       'B1 B3 B3 B5 B6 B6';
}

.patternIII {
  grid-template-areas: 'C1 C3 C4 C4 C5 C6'
                       'C2 C3 C4 C4 C5 C7';
}

.container {
    display: flex;
    position: relative;
    width: 100%;
    height: 30vh;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #1F1F1F;
    z-index: 1;
}

.artwork {
  position: absolute;
  width: 100%;
  height: 30vh;
  background-position: center !important;
  background-repeat: no-repeat !important;
  z-index: -100;
  overflow: hidden;
}

.poemLines {
  width: 60%;
  margin: auto;
}

.artwork p {
  color: rgb(202, 202, 202);
  text-align: left;
  font-family: 'Fira Sans', sans-serif;
  font-weight: lighter;
  font-size: 1.5vh;
  margin: 1vh 0;
}

.artwork h1 {
  color: rgb(202, 202, 202);
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: 3.5vh;
  margin: 1vh 4vh;
}

.extension {
  background-color: #1f1f1f;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.artText {
  position: relative;
  height: 100%;
  width: auto;
  overflow: auto;
}

/* Scroll bar settings */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(202, 202, 202);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(180, 180, 180);
}

::-webkit-scrollbar-track {
  background: #1F1F1F;
}

.titleArt {
  color: rgb(202, 202, 202);
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: 4vh;
  font-weight: 400;
  opacity: 0;
  display: none;
  margin: 2vh 2vh;
}

.descriptionArt {
  color: rgb(202, 202, 202);
  text-align: left;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.5vh;
  opacity: 0;
  display: none;
  margin: 2vh 4vh;
  overflow: auto;
}

.containerHover { 
    position: relative;
    height: 100%;
    width: 100%;
}

.topBorder, .rightBorder, .bottomBorder, .leftBorder {
  position: absolute;
  border: .5px solid rgba(202, 202, 202, 0.5);  /* .5px */
  z-index: 100;
}

.bottomBorder {
  bottom: 0;
  right: 0;
}

.rightBorder {
  right: 0;
  top: 0;
}

.leftBorder {
  left: 0;
  bottom: 0;
}

.topBorder {
  top: 0;
}

/* Hover icons */
.fa-heart, .fa-plus, .fa-share {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 100;
  bottom: 20px;
  color: rgb(202, 202, 202);
  opacity: 0;
}

.fa-heart {
  left: calc(50% - 75px);
}

.fa-plus {
  left: calc(50% - 15px);
}

.fa-share {
  left: calc(50% + 45px);
}


.A1 {
  grid-area: A1;
  min-height: 61vh;
}

.A2 {
  grid-area: A2;
}

.A3{
  grid-area: A3;
}

.A4 {
  grid-area: A4;
}

.A5{
  grid-area: A5;
}

.A6 {
  grid-area: A6;
  min-height: 61vh;
}

.B1 {  
  min-height: 61vh;
  grid-area: B1;
}

.B2 {  
  grid-area: B2;
}

.B3 {  
  grid-area: B3;
}

.B4 {  
  grid-area: B4;
}

.B5 {  
  grid-area: B5;
}

.B6 { 
  min-height: 61vh;
  grid-area: B6;
}

.C1 { 
  grid-area: C1;
}

.C2 { 
  grid-area: C2;
}

.C3 { 
  min-height: 61vh;
  grid-area: C3;
}

.C4 { 
  min-height: 61vh;
  grid-area: C4;
}

.C5 { 
  min-height: 61vh;
  grid-area: C5;
}

.C6 { 
  grid-area: C6;
}

.C7 { 
  grid-area: C7;
}
